*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#1b1b35;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:1000px;
    text-align:center;
}

.task-box{
    width:350px;
    margin:20px auto;
    border:2px solid red;
    padding:15px;
}

.task-box h1{
    font-size:50px;
}

h2{
    margin:30px 0;
    font-size:45px;
}

.stopwatch{
    margin-top:20px;
}

#display{
    font-size:60px;
    font-weight:bold;
    margin-bottom:20px;
}

.buttons button{
    padding:12px 25px;
    margin:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:18px;
    transition:0.3s;
}

.buttons button:hover{
    transform:scale(1.05);
}

#laps{
    list-style:none;
    margin-top:20px;
}

#laps li{
    padding:8px;
    font-size:20px;
}

.description{
    margin-top:40px;
    font-size:22px;
    line-height:1.5;
}

@media(max-width:768px){

    h2{
        font-size:30px;
    }

    #display{
        font-size:40px;
    }

    .buttons button{
        width:120px;
    }
}